.personalContainer{
  margin-left: 13%;
  margin-top: 4%;
  box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem; 
  border-radius: 0.375rem; 
  max-width: 500px;
}

.inputs{
  padding: 5px 30px;
}

.personalContainer>h2{
  background-color: #D0F7FA;
  padding: 15px  20px;
  margin: 0;
  margin-bottom: 30px;
  font-size: 22px;
}

/* toggle button checkbox  */


.fieldtitle{
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fieldtitle span{
  font-weight: 400;
  font-size: 12px;
  width: 150px;
  display: flex;
}
.checkHidden{
  visibility: hidden;
}
.checkField{
  border: none;
  border-bottom: 1px solid #C4C4C4;
  width: 100%;
}
.labelLike  span span:last-child {
  position: relative;
  margin: 0px 6px;
}

.labelLike  span span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.labelLike  span span:last-child::before{
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  width: 35px;
  height: 20px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #C4C4C4;

}

.labelLike  span span:last-child::after{
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 15px;
  height: 15px;
  background-color: #F4F4F4;
  border-radius: 50%;
  border: 1px solid #C4C4C4;
}

.labelLike  span span:last-child.active::after{
  content: "";
  position: absolute;
  top: 2.5px;
  left: 19px;
  width: 15px;
  height: 15px;
  background-color: #F4F4F4;
  border-radius: 50%;
  border: 1px solid #C4C4C4;
}


.labelLike  span span:last-child.active::before{
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  width: 35px;
  height: 20px;
  background-color: #087B2F;
  border-radius: 30px;
  border: 1px solid #C4C4C4;

}


.addQ{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 15px 0;
  cursor: pointer;
  gap: 5px;
  font-weight: 600;
}

.multi{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.multi input{
  width: 90%;
  border: 1px solid #C4C4C4;
  padding: 10px;
  border-radius: 5px;
}

.multi input span{
  cursor: pointer;
}

.submit{
  width: 80px;
  margin-left: 85%;
  border-radius: 5px;
  background-color: #087B2F;
  color: white;
  padding: 7px 15px;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.submit:hover{
  background-color: #0fb045;
}

input{
  outline: none;
}